{"input_window_size": 400, "num_segments": 1278, "num_syn_types": 1, "epoch_size": 4, "num_epochs": 1, "batch_size_train": 4, "batch_size_validation": 4, "train_file_load": 0.2, "valid_file_load": 0.2, "optimizer_type": "AdamW", "optimizer_params": {}, "model_path": null, "batch_counter": 0, "epoch_counter": 0, "torch_seed": 42, "numpy_seed": 21, "model_tag": "simplest_model", "dynamic_learning_params": false, "constant_loss_weights": [1.0, 0.5, 0.0], "constant_sigma": 0.1, "segment_tree_path": "tree.pkl", "architecture_type": "BASIC_CONV", "time_domain_shape": 400, "kernel_size_2d": 3, "kernel_size_1d": 5, "stride": 1, "dilation": 1, "channel_input_number": 1, "inner_scope_channel_number": 5, "channel_output_number": 3, "activation_function_name_and_args": ["LeakyReLU", 0.25], "include_dendritic_voltage_tracing": false, "model_filename": "simplest_model_NMDA_Tree_TCN__2021-09-29__15_57__ID_3196"}