/data/
/neuron_as_deep_net-master/
/runs/
/trash/Data_test.zip

/project_path.py
/NEURON_models_maker/L5PC_NEURON_simulation/
/first_run.py
/test_slurm.py
/trash/email_by_demand.py
/venv/
/wandb/
/models/NMDA/
/models/NMDA/gaussian_train_NMDA_Tree_TCN__2021-10-14__20_38__ID_19550/
/models/NMDA/gaussian_train_NMDA_Tree_TCN__2021-10-14__20_38__ID_28034/
/evaluation_plots/
/moria_f_systems.py
/simulations/
/L5PC_NEURON_simulation_ergodic/
/trash/
/neuron_simulations/L5PC_NEURON_simulation_ergodic/
/neuron_simulations/L5PC_NEURON_simulation/
/newest simulation code david/
/models/

/evaluations/
