{"input_window_size": 400, "num_segments": 1278, "num_syn_types": 1, "epoch_size": 15, "num_epochs": 15000, "batch_size_train": 15, "batch_size_validation": 15, "train_file_load": 0.2, "valid_file_load": 0.2, "optimizer_type": "SGD", "model_path": null, "batch_counter": 0, "epoch_counter": 0, "segment_tree_path": "tree.pkl", "time_domain_shape": 400, "kernel_size_2d": 23, "kernel_size_1d": 51, "stride": 1, "dilation": 1, "channel_input_number": 1, "inner_scope_channel_number": 30, "channel_output_number": 7, "activation_function_name_and_args": ["LeakyReLU", 0.25], "include_dendritic_voltage_tracing": false, "model_filename": "NMDA_Tree_TCN__2021-09-29__11_27__ID_59288", "auxilary_filename": "NMDA_Tree_TCN__2021-09-29__11_27__ID_59288.pickle"}